

/* #ifdef MP-WEIXIN*/  
page {
  width: 100%;
  min-height: 100%;
  background-color: white;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  width: 100%;
  min-height: 100%;
  background-color: white;
}
/* #endif */

.add-certificate-box {
	padding-bottom: 48rpx;
  font-size: 24rpx;
  background: #F7F8F9;
}

.certificate-content-item .h1 {
  padding-left: 48rpx;
  padding-top: 32rpx;
  padding-bottom: 32rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

.input-name-box {
  position: relative;
  padding: 60rpx 0;
  background: #fff;
}

.certificate-content-item--file {
  padding-bottom: 12rpx;
  background-color: #fff;
}

.certificate-content-item--file .file-name,
.certificate-content-item--file .file-size {
  font-size: 28rpx;
  padding: 12rpx 48rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.upload-btn {
  width: 670rpx;
  height: 100rpx;
  line-height: 100rpx;
  margin: 24rpx auto 48rpx;
  font-weight: 500;
  color: #fff;
  font-size: 32rpx;
  background: #464646;
  border-radius: 8rpx;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.certificate-content-item .input-name {
  padding: 0 48rpx;
  background: #fff;
	width: 100%;
  height: 112rpx;
  line-height: 112rpx;
  font-size: 28rpx;
  color: #333333;
	box-sizing: border-box;
}

.input-tip {
  font-size: 24rpx;
  position: absolute;
  right: 48rpx;
  bottom: 32rpx;
  color: #999999FF;
}

.certificate-content-item .sign-certificate-type {
  padding: 40rpx 48rpx 40rpx 48rpx;
  height: auto;
}

.add-certificate-description {
  padding: 0 48rpx;
  font-weight: 400;
  color: #999999;
  line-height: 40rpx;
  font-size: 24rpx;
}

.add-certificate-description .title {
  padding-bottom: 12rpx;
}

.certificate-submit {
	margin: 40rpx auto 0;
  width: 90%;
  height: 100rpx;
  line-height: 100rpx;
  background: #464646;
  border-radius: 4px;
  color: #fff;
}

.add-certificate-image {
  padding: 56rpx 48rpx;
  background: #fff;
  box-sizing: border-box;
}

.add-certificate-image .name,
.add-certificate-image .size {
  font-size: 28rpx;
  padding: 12rpx 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-certificate-image--item {
  position: relative;
}

.add-certificate-image--item .image-add {
  width: 100%;
  height: 252rpx;
}

.add-certificate-image--item .iconfont {
  width: 48rpx;
  height: 48rpx;
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  font-family: "icon-one";
  font-size: 48rpx;
  color: #fff;
  line-height: 48rpx;
  font-weight: 400;
}

.add-certificate-voice {
  padding: 24rpx 0;
  font-family: "icon-one";
  background-Color: #fff;
}

.add-certificate-voice-progress {
  height: 50rpx;
  width: 88%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-left;
}

.add-certificate-voice .name,
.add-certificate-voice .size {
  font-size: 28rpx;
  padding: 10rpx 48rpx;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.add-certificate-voice .name {
  padding-top: 20rpx
}

.add-certificate-voice-progress .add-certificate-voice-progress--btn {
  width: 48rpx;
  height: 48rpx;
  color: #ed6c00;
  flex-grow: 0;
  font-size: 48rpx;
  line-height: 1;
  margin-right: 32rpx;
}

.add-certificate-voice-progress .add-certificate-voice-progress--start {
  color: #999999FF;
  font-size: 22rpx;
}

.add-certificate-voice-progress .add-certificate-voice-progress--end {
  color: #999999FF;
  font-size: 22rpx;
  margin-right: 32rpx;
}

.add-certificate-voice-progress .add-certificate-voice-progress--loading {
  height: 4rpx;
  width: 392rpx;
  background: #F7F8F9FF;
  margin: 0 10rpx;
  border-radius: 2rpx;
}

.add-certificate-voice-progress .add-certificate-voice-progress--width {
  height: 100%;
  background: #ed6c00;
}

.add-certificate-voice-delete {
  position: absolute;
  width: 24rpx;
  height: 24rpx;
  right: 32rpx;
  top: 32rpx;
  color: #ccc;
  font-size: 24rpx;
}

textarea {
  width: 100%;
}

.voice-record-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.voice-record-content {
  border-radius: 8px;
  margin: 64rpx 48rpx 138rpx;
}

.voice-record-time {
  text-align: center;
  color: #212121;
  font-size: 56rpx;
  line-height: 80rpx;
  margin-top: 160rpx;
}

.voice-record-time-text {
  text-align: center;
  color: #999999;
  font-size: 28rpx;
  font-weight: 400;
  line-height: 40rpx;
}

.voice-record-progress {
  width: 90%;
  height: 6rpx;
  background: rgba(248, 248, 248, 1);
  border-radius: 4rpx;
  margin: 0 auto;
}

.voice-record-btn {
  width: 160rpx;
  height: 160rpx;
  border: 12rpx solid rgba(237, 108, 0, 0.18);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 608rpx;
}

.voice-record-btn-center {
  width: 128rpx;
  height: 128rpx;
  border-radius: 50%;
  background: #ED6C00;
}

.voice-record-btn-loading {
  width: 160rpx;
  height: 160rppx;
  border: 12rpx solid rgba(237, 108, 0, 0.18);
  position: relative;
}

.voice-record-btn-loading .voice-record-btn-center {
  width: 68rpx;
  height: 68rpx;
  background: rgba(237, 108, 0, 1);
  border-radius: 8rpx;
  position: absolute;
}

.icon-right {
  font-family: "icon-one";
  float: right;
  font-size: 26rpx;
  color: #666666;
}