
/*  #ifdef  H5 */
.dialog-section .add-btn {
	width: 110rpx;
	height: 110rpx;
	position: fixed;
	bottom: 150rpx;
	right: 48rpx;
	border-radius: 50%;
	line-height: 110rpx;
}

/*  #endif  */

/*  #ifndef  H5  */
.dialog-section .add-btn {
	width: 110rpx;
	height: 110rpx;
	position: fixed;
	bottom: 100rpx;
	right: 48rpx;
	border-radius: 50%;
	line-height: 110rpx;
}
/*  #endif  */

.dialog-section .add-btn image {
	width: 40rpx;
	height: 40rpx;
}

.dialog-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 0;
	padding: 0;
	transform: translateY(100%);
	transition: transform .25s ease-in-out;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: 99;
}

.dialog-content.show {
	transform: translateY(0);
	z-index: 100;
}

.list-wrapper {
	width: 100%;
	height: 280rpx;
	padding: 0;
	background: rgba(247, 248, 249, 1);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cancel-btn {
	left: 0;
	width: 100%;
	height: 80rpx;
	background: rgba(255, 255, 255, 1);
	line-height: 80rpx;
	text-align: center;
	font-size: 28rpx;
}

.meun-list__item {
	text-align: center;
}

.meun-list__item image {
	width: 84rpx;
	height: 84rpx;
}

.meun-list__item text {
	display: block;
	height: 34rpx;
	font-size: 24rpx;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
	line-height: 34rpx;
	margin-top: 34rpx;
}
