page {
	background-color: #F7F8F9;
}

.a-page {
	background-color: #F7F8F9;
}

.project-detail--page {
	padding: 16rpx 20rpx;
	width: 100%;
	height: 100%;
}

.project-detail--page .section {
	margin-bottom: 16rpx;
	padding: 32rpx;
	border-radius: 4rpx;
	background-color: #fff;
}

.project-detail--page .project-info .title {
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #000000;
	line-height: 52rpx;
}

.project-detail--page .project-info .time-status {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 12rpx 0 32rpx;
	border-bottom: 1rpx solid #F5F5F5;
}

.project-detail--page .project-info .time-status .status {
	margin-right: 12rpx;
	padding: 6rpx 8rpx;
	font-size: 20rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	line-height: 10px;
	background-color: rgba(102, 181, 237, .1);
}

.project-detail--page .project-info .time-status .status.going {
	color: #58A1D5;
	background-color: rgba(102, 181, 237, .1);
}

.project-detail--page .project-info .time-status .status.complete {
	color: #5BB03B;
	background-color: rgba(91, 176, 59, .1);
}

.project-detail--page .project-info .time-status .time {
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #999999;
	line-height: 34rpx;
}

.project-detail--page .project-info .desc {
	padding-top: 32rpx;
	color: #666;
}

.project-detail--page .project-info .desc .empty {
	font-size: 26rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #999999;
	line-height: 48rpx;
}

.project-detail--page .project-info .desc .empty .iconfont {
	margin-left: 8rpx;
	font-size: 24rpx;
}

.project-members {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-members .text {
	font-size: 30rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #000000;
	line-height: 32rpx;
}

.project-members .iconfont {
	color: #666;
}

.evidence-list {
	padding-bottom: 0 !important;
	box-sizing: border-box;
}

.evidence-list .title {
	padding-bottom: 32rpx;
	font-size: 30rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #000000;
	line-height: 32rpx;
	border-bottom: 1rpx solid #F5F5F5;
}

.evidence-list .item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32rpx 0;
	border-bottom: 1rpx solid #F5F5F5;
}

.evidence-list .item:last-of-type {
	border-bottom: none;
}

.evidence-list .item .content {
	max-width: 90%;
}

.evidence-list .item .content .title {
	padding: 0;
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #333333;
	line-height: 48rpx;
	border-bottom: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.evidence-list .item .content .time {
	padding-top: 4rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #999999;
	line-height: 34rpx;
}

.evidence-list .ev-empty {
	padding-top: 48rpx;
	font-size: 28rpx;
	color: #666;
	text-align: center;
	line-height: 108rpx;
}