
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #f5f5f5;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #f5f5f5;
}
/* #endif */

view {
  box-sizing: border-box;
}

.recharge-page .recharge-account {
  margin: 16rpx 0;
  padding: 48rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.label {
  font-size: 32rpx;
  line-height: 32rpx;
  color: #333;
}

.value {
  font-size: 32rpx;
  line-height: 32rpx;
  color: #333;
}

.recharge-page .recharge-amount--section {
  padding: 0 48rpx;
  background-color: #fff;
}

.recharge-page .recharge-amount--section .amount-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rpx solid #f5f5f5;
}

.recharge-amount--section .amount-list .list-area {
  padding: 44rpx 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.amount-list .list-area .list-item {
  margin-left: 20rpx;
  padding: 8rpx 30rpx;
  color: #666;
  font-size: 28rpx;
  line-height: 40rpx;
  border: 2rpx solid #ddd;
  border-radius: 4rpx;
}

.amount-list .list-area .list-item.active {
  color: #ED6C00;
  border-color: #ED6C00;
}

.recharge-amount--section .amount-input--area {
  position: relative;
  padding: 44rpx 0;
  border-bottom: 2rpx solid #f5f5f5;
}

.amount-input--area input {
  padding-right: 48rpx;
	width: 100%;
  text-align: right;
  font-size: 28rpx;
  color: #333;
  line-height: 28rpx;
	box-sizing: border-box;
}

.amount-input--area .prefix {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28rpx;
  line-height: 28rpx;
  color: #333;
}

.amount-input--area input::placeholder {
  font-size: 28rpx;
  color: #999;
  line-height: 28rpx;
}

.recharge-amount--section .total-area {
  padding: 46rpx 0 48rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80rpx;
  height: 100rpx;
  line-height: 100rpx;
  width: calc(100% - 96rpx);
  text-align: center;
  color: #fff;
  font-size: 32rpx;
  font-weight: 500;
  border-radius: 8rpx;
  background-color: #464646;
}