
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #F7F8F9;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #F7F8F9;
}
/* #endif */


view {
  box-sizing: border-box;
}

.cost-manage--page {
  padding: 0 40rpx;
  width: 100%;
}

.cost-manage--page .list-item {
  margin: 20rpx auto;
  padding: 0 36rpx;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8rpx;
}

.cost-manage--page .title {
  padding-top: 40rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  color: #666;
}

.cost-manage--page .content {
  margin-top: 42rpx;
  padding-bottom: 50rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rpx solid #F5F5F5;
}

.cost-manage--page .content .balance {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #333;
}

.cost-manage--page .content .balance .prefix {
  margin-right: 16rpx;
  margin-top: -16rpx;
  font-size: 24rpx;
  line-height: 34rpx;
}

.cost-manage--page .content .amount {
  font-size: 40rpx;
  line-height: 40rpx;
  font-weight: 600;
}

.cost-manage--page .content .card .prefix {
  margin-right: 0;
  margin-left: 16rpx;
}

.cost-manage--page .content .btn-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cost-manage--page .content .btn-group .btn {
  padding: 18rpx 32rpx 16rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  color: #333;
  border-radius: 8rpx;
}

.cost-manage--page .content .btn-group .btn.black {
  margin-left: 8rpx;
  color: #fff;
  background-color: #464646;
  border-radius: 8rpx;
}

.cost-manage--page .content .btn-group .btn.primary {
  border: 2rpx solid #D8D8D8;
  background-color: #fff;
  border-radius: 8rpx;
}

.cost-manage--page .detail {
  padding: 36rpx 0 34rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost-manage--page .detail .detail-word {
  font-size: 26rpx;
  line-height: 26rpx;
  color: #838383;
}

.cost-manage--page .detail .icon {
  font-size: 28rpx;
  line-height: 28rpx;
  color: #838383;
}