
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #fff;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #fff;
}
/* #endif */

view {
  box-sizing: border-box;
}

.card-detail-page {
  padding: 0 48rpx;
}

.card-detail-page .list-item {
  padding: 30rpx 0 32rpx;
  border-bottom: 2rpx solid #F5F5F5;
}

.card-detail-page .list-item .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-detail-page .list-item .top .name {
  font-size: 32rpx;
  line-height: 48rpx;
  color: #333;
}

.card-detail-page .list-item .top .money {
  font-size: 28rpx;
  font-weight: 500;
  color: #333;
  line-height: 40rpx;
}

.card-detail-page .list-item .bot {
  padding-top: 14rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24rpx;
  line-height: 40rpx;
  color: #666;
}

.card-detail-page .list-item .bot .type {
  color: #999;
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32rpx;
  color: #999;
}