/* #ifdef MP-WEIXIN*/  
page {
	background: rgba(247, 248, 249, 1);
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
	background: rgba(247, 248, 249, 1);
}
/* #endif */

.company-create-info {
    font-size: 32rpx;
}

.company-create-info .base-info-container{
    padding: 0 48rpx;
    background: white;
    margin-top: 20rpx;
}
.company-create-info .base-info-container .field-item{
    background: white;
    height: 104rpx;
    line-height: 104rpx;
    display: flex;
    border-bottom: 2rpx solid #F5F5F5;
}
.company-create-info .base-info-container .field-item .name{
    font-size:32rpx;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:104rpx;
    display: block;
    flex: 2;
}
.company-create-info .base-info-container .field-item .value-input,.value-select{
    font-size:28rpx;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:104rpx;
    text-align: left;
    height: 104rpx;
    flex: 3;
}
.company-create-info .tip{
    height:40rpx;
    font-size:24rpx;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:40rpx;
    margin: 28rpx 48rpx;
}
.bottom-btn-container{
    width: 100%;
    position: fixed;
    bottom:40rpx;
    margin-top: 40rpx;
    text-align: center;
}

.bottom-btn-container .next{
    width:670rpx;
    text-align: center;
    display: inline-block;
    height:100rpx;
    line-height: 100rpx;
    background:rgba(70,70,70,1);
    border-radius:8rpx;
    color: white;
}