/* #ifdef MP-WEIXIN*/  
page {
  background-color: #F7F8F9;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #F7F8F9;
}
/* #endif */


.item-title {
  padding: 0rpx 48rpx;
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  height: 110rpx;
  line-height: 110rpx;
}

.item-Content {
  position: relative;
  display: flex;
  height: 106rpx;
  background-color: #ffffff;
}

.item-Content .message {
  margin: 0 48rpx;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rpx solid #F5F5F5;
  font-size: 30rpx;
  font-weight: 400;
  box-sizing: border-box;
}

.item-Content .search-result--list {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-50%);
  margin-top: 4rpx;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  /* box-shadow: 0 8rpx 8rpx #666; */
  z-index: -11;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}


.item-Content .search-result--list.show {
  transform: translateY(0);
  z-index: 11;
  opacity: 1;
}

.item-Content .search-result--list .list-item {
  padding: 24rpx 48rpx;
  font-size: 32rpx;
  line-height: 40rpx;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-Content .othermessage {
  display: flex;
  margin: 0 48rpx;
  width: 100%;
  align-items: center;
  border-bottom: 2rpx solid #F5F5F5;
  font-size: 30rpx;
  font-weight: 400;
  box-sizing: border-box;
}

.item-Content .message input {
  text-align: right;
}

.bottom-btn-container {
  position: fixed;
  height: 100rpx;
  width: 100%;
  display: flex;
  bottom: 40rpx;
  margin-top: 40rpx;
}

.bottom-btn-container .back {
  width: 160rpx;
  height: 100rpx;
  font-size: 32rpx;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  display: inline-block;
  text-align: center;
  line-height: 100rpx;
  margin-left: 32rpx;
}

.bottom-btn-container .next {
  width: 478rpx;
  text-align: center;
  display: inline-block;
  height: 100rpx;
  line-height: 100rpx;
  background: rgba(70, 70, 70, 1);
  border-radius: 8rpx;
  color: white;
  margin-left: 40rpx;
  font-size: 32rpx;
}

/*  重写 radio 样式  */
/* 未选中的 背景样式 */
radio .wx-radio-input {
  border-radius: 50%;
  width: 30rpx;
  height: 30rpx;
  border: 2rpx solid #CCCCCC;
  background: #F7F8F9;
}

/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
radio .wx-radio-input.wx-radio-input-checked {
  border: 2rpx solid #EE7005;
  background: #EE7005;
}

/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
radio .wx-radio-input.wx-radio-input-checked::before {
  width: 3orpx;
  /* 选中后对勾大小，不要超过背景的尺寸 */
  height: 30rpx;
  /* 选中后对勾大小，不要超过背景的尺寸 */
  line-height: 30rpx;
  text-align: center;
  font-size: 20rpx;
  /* 对勾大小 30rpx */
  color: #ffffff;
  /* 对勾颜色*/
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}
