/* #ifdef MP-WEIXIN*/
page {
	background: rgba(247, 248, 249, 1);
}

/* #endif */

/* #ifdef MP-ALIPAY*/
.a-page {
	background: rgba(247, 248, 249, 1);
}

/* #endif */

.personal-auth-result {
	padding-bottom: 140rpx;
	font-size: 32rpx;
}

.personal-auth-result .result-top {
	font-size: 94rpx;
	background: white;
	padding-top: 108rpx;
	padding-bottom: 108rpx;
	text-align: center;
}

.personal-auth-result .result-text {
	font-size: 36rpx;
	font-weight: 500;
	margin-top: 48rpx;
	color: rgba(33, 33, 33, 1);
}

.personal-auth-result .result-reason {
	font-size: 28rpx;
	font-weight: 400;
	margin-top: 20rpx;
	color: rgba(153, 153, 153, 1);
}

.personal-auth-result .result-top .icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 164rpx;
	height: 164rpx;
	border-radius: 82rpx;
	background: #F9F9F9;
	border: 2rpx solid rgba(220, 220, 220, 1);
	color: #FF7451;
}

.personal-auth-result .result-top .iconfont {
	font-size: 70rpx;
	position: relative;
}

.personal-auth-result .result-top .iconfont.success {
	color: #5AD18A;
}

.personal-auth-result .type-select-header {
	font-size: 36rpx;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	padding: 26rpx 48rpx 28rpx 48rpx;
}

.personal-auth-result .type-select-header .type-text {
	font-size: 32rpx;
	display: inline-block;
	line-height: 32rpx;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	padding-left: 20rpx;
	border-left: 8rpx solid #EE7005;
}

.personal-auth-result .base-info-container {
	padding: 0 48rpx;
	background: white;
}

.personal-auth-result .base-info-container .field-item {
	background: white;
	height: 126rpx;
	line-height: 126rpx;
	display: flex;
}

.personal-auth-result .base-info-container .field-item .name {
	font-size: 32rpx;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: 126rpx;
	display: inline-block;
	flex: 1;
}

.personal-auth-result .base-info-container .field-item .get-code {
	width: 198rpx;
	font-size: 28rpx;
	font-weight: 400;
	color: rgba(110, 135, 184, 1);
	text-align: center;
}

.personal-auth-result .base-info-container .field-item .code-line {
	border-left: 2rpx solid #D8D8D8;
	height: 32rpx;
	width: 1rpx;
	position: relative;
	top: 46rpx;
	margin: 0 10rpx 0 30rpx;
}

.personal-auth-result .base-info-container .field-item .value-input,
.value-select {
	font-size: 28rpx;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	line-height: 126rpx;
	text-align: right;
	height: 126rpx;
	flex: 1;
}

.line {
	border-bottom: 2rpx solid #F5F5F5;
	width: 100%;
}

.bottom-btn-container {
	position: fixed;
	width: 100%;
	bottom: 20rpx;
	text-align: center;
}

.bottom-btn-container .next {
	width: 690rpx;
	text-align: center;
	display: inline-block;
	height: 100rpx;
	line-height: 100rpx;
	background: rgba(70, 70, 70, 1);
	border-radius: 8rpx;
	color: white;
}
