.weui-half-screen-dialog {
  border-radius: 0;
  padding:0;
}
.weui-half-screen-dialog__bd {
  width:100%;
  height:376rpx;
  padding:0;
  background:rgba(247,248,249,1);
  display: flex;
  align-items:center;
  justify-content: space-around;
}
.meun-list__item {
  text-align: center;
}
.meun-list__item image{
  width:68rpx;
  height:62rpx;
  /* background:rgba(70,70,70,1); */
}
.meun-list__item text{
  display: block;
  height:34rpx;
  font-size:24rpx;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:34rpx;
  margin-top:34rpx;
}