.add-contract-list {
	position: relative;
	padding: 0rpx 48rpx;
	background-color: #ffffff;
	box-sizing: border-box;
}

.pl-search {
  width: 100%;
  top: 100rpx;
  border-bottom: 1px solid #F5F5F5;
}

.list-wrapper {
  position: absolute;
  width: 100%;
  top: 140rpx;
  left: 0;
  height: calc(100% - 300rpx);
}

.list-wrapper_title {
  padding: 24rpx 0;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
  background: #fff;
  position: relative;
  z-index: 2;
}

.contract {
  padding: 0 48rpx;
  width: 100%;
  height: 204rpx;
  border-bottom: 2rpx solid #F5F5F5;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.contract-item_wrap {
  position: relative;
  display: flex;
}

.checkbox-wrap {
  margin-right: 24rpx;
  padding-top: 30rpx;
}

.contract-introduce {
  height: 80rpx;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.contract-introduce .contract-title {
  width: 464rpx;
  margin-top: 32rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contract-introduce .contract-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 52rpx;
  width: 126rpx;
  margin-top: 24rpx;
}

.contract-introduce .contract-right .status-icon {
  width: 12rpx;
  height: 12rpx;
  border-radius: 50%;
}

.contract-introduce .contract-right .contract-state {
  margin-left: 12rpx;
  font-size: 24rpx;
  color: #999;
}

.contract-related {
  display: flex;
  flex-wrap: nowrap;
  height: 62rpx;
  width: 456rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #666666FF;
}

.contract-other {
  display: flex;
  flex-shrink: 1;
  flex-wrap: nowrap;
  margin-top: 6rpx;
}

.contract-sponsor {
  max-width: 280rpx;
  height: 34rpx;
  margin-top: 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contract-signatory {
  width: 244rpx;
  height: 34rpx;
  margin-left: 32rpx;
  margin-top: 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.contract-updatetime {
  height: 22rpx;
  font-size: 22rpx;
  color: #999999FF;
}

.contract-updatetime-middle {
  height: 16rpx;
  width: 18rpx;
  border-left: 1rpx solid #D8D8D8FF;
  margin-left: 16rpx;
  margin-top: 8rpx;
}

.time {
  height: 22rpx;
  font-size: 22rpx;
  color: #999999FF;
}


.empty-data {
  left: 0;
}

.contract-operate {
  position: absolute;
  right: 48rpx;
  top: 64rpx;
  cursor: pointer;
  padding: 12rpx 0 24rpx 24rpx;
}

.contract-operate>.contract-operate_item {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #333;
  margin: 0 2px;
}

.slide-menu_list {
  width: 100%;
  background: #fff;
}

.slide-menu_list>.slide-menu_item {
  height: 104rpx;
  margin: 0 48rpx;
  line-height: 104rpx;
  text-align: center;
  border-bottom: 1px solid #efefef;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.status-icon.success {
  background-color: #67C23A;
}

.status-icon.fail {
  background-color: #F56C6C;
}

.launchButton {
  width: 670rpx;
  height: 100rpx;
  line-height: 100rpx;
  font-weight: 500;
  color: #fff;
  font-size: 32rpx;
  background: #464646;
  border-radius: 8rpx;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  position: fixed;
  bottom: 24rpx;
	left: 50%;
	transform: translateX(-50%);
}

/*checkbox 整体大小  */
checkbox {
  width: 32rpx;
  height: 32rpx;
}

/*checkbox 选项框大小  */
checkbox .wx-checkbox-input {
  width: 32rpx;
  height: 32rpx;
  border-radius: 50%;
  transform: translateY(-160%);
}

/*checkbox选中后样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #ED6C00;
}

/*checkbox选中后图标样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 28rpx;
  height: 28rpx;
  line-height: 28rpx;
  text-align: center;
  font-size: 22rpx;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

.checkbox-content {
  transform: translateY(-16%);
}