.stamp-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.list-view {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 48rpx;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.scroll-wrapper {
	height: calc(100% - 120rpx);
}

.cell {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 48rpx;
	width: 300rpx;
	height: 300rpx;
	background: rgba(247, 248, 249, .4);
	border-radius: 8rpx;
	border: 1px solid rgba(230, 230, 230, .4);
}


.cell-stamp-image {
	float: left;
	display: block;
	width: 220rpx;
	height: 220rpx;
}

.badge {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24rpx;
	color: #999;
	padding: 8rpx 16rpx;
	border-top-left-radius: 8rpx;
	background-color: #eee;
}

/*  #ifdef  H5  */
.header-Bar {
	margin-top: 88rpx;
	height: 120rpx;
	background-color: #F7F8F9;
}

/*  #endif  */

/*  #ifndef  H5  */
.header-Bar {
	height: 120rpx;
	background-color: #F7F8F9;
}

/*  #endif  */

.layout {
	width: 670rpx;
	margin-left: 40rpx;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.currentName {
	display: flex;
	margin-top: 35rpx;
	margin-left: 16rpx;
	height: 46rpx;
	color: #333333;
	font-size: 34rpx;
	font-weight: 500;
}

._currentName {
	max-width: 408rpx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 100%;
}

.select {
	display: inline-block;
	width: 26rpx;
	height: 15rpx;
	margin-top: 20rpx;
	margin-left: 10rpx;
}

.uploadButton {
	position: fixed;
	width: 110rpx;
	height: 110rpx;
	bottom: 48rpx;
	left: 598rpx;
	z-index: 10;
	background: rgba(70, 70, 70, 1);
	border-radius: 110rpx;
	text-align: center;
	vertical-align: middle;
	line-height: 110rpx;
}

.uploadButton .iconfont {
	color: white;
	font-size: 40rpx;
	position: relative;
	top: 4rpx;
}

.no-file {
	position: fixed;
	width: 100%;
	height: 100%;
}

.no-file-title {
	position: fixed;
	width: 100%;
	height: 40rpx;
	top: 300rpx;
	text-align: center;
	font-size: 34rpx;
	font-weight: 300;
}

.no-file-content {
	position: fixed;
	width: 100%;
	height: 40rpx;
	top: 360rpx;
	text-align: center;
	font-size: 26rpx;
	font-weight: 200;
}

.operation-view {
	float: left;
	margin-top: 32rpx;
	width: 100%;
	height: 95rpx;
	border-top: 1rpx #F5F5F5 solid;
}

.default-btn {
	float: left;
	margin-left: 32rpx;
	margin-top: 24rpx;
	width: 200rpx;
	height: 48rpx;
}

.delete-btn {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 40rpx;
	width: 50rpx;
	height: 50rpx;
	color: white;
	background: #464646;
	text-align: center;
}

.user-dialog__mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.user-dialog__container {
	position: fixed;
	top: 240rpx;
	width: 606rpx;
	/*弹窗布局宽*/
	min-height: 458rpx;
	/*弹窗布局高，与下面弹出距离transform有关*/
	margin-left: 72rpx;
	background: #FFFFFF;
	transform: translateY(-200%);
	/*弹框弹出距离，与弹框布局高度有关，如300%表示弹起距离为3倍弹窗高度*/
	transition: all 0.25s ease-in;
	z-index: 12;
	border-radius: 12rpx;
}

.user-dialog--show .user-dialog__container {
	transform: translateY(0);
}

.user-dialog--show .user-dialog__mask {
	display: block;
}

.userSwitch {
	display: flex;
	justify-content: space-between;
	margin: 16rpx 48rpx 0rpx 48rpx;
	height: 96rpx;
	line-height: 96rpx;
	color: #999999;
	font-size: 28rpx;
	border-bottom: 2rpx solid rgba(238, 238, 238, 1);
}

.userList {
	display: flex;
	height: 108rpx;
	margin: 0rpx 48rpx;
	font-size: 30rpx;
	font-weight: 400;
	color: #333333;
	border-bottom: 2rpx solid #F5F5F5;

}

.userList-icon {
	margin-top: 34rpx;
	width: 40rpx;
	height: 40rpx;
}

.userList-name {
	margin-top: 34rpx;
	margin-left: 16rpx;
	width: 328rpx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.userList-state {
	width: 92rpx;
	height: 40rpx;
	line-height: 40rpx;
	font-size: 20rpx;
	background-color: rgba(62, 180, 168, 0.1);
	color: #3EB4A8;
	margin-top: 32rpx;
	margin-left: 32rpx;
	text-align: center;
	font-weight: 600;
}

.scroll-under {
	height: 32rpx;
}
