/* #ifdef MP-WEIXIN*/  
page {
  background-color: #F7F8F9;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #F7F8F9;
}
/* #endif */

.item-title{
  padding: 0rpx 48rpx;
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  height: 110rpx;
  line-height: 110rpx;
} 
.item-content{
  display: flex;
  height: 106rpx;
  background-color: #ffffff;
  align-items: center;
  color: #6E82A9;
  font-size: 30rpx;
  font-weight: 400;
  justify-items: space-between;
}
.item-otherContent{
  display: flex;
  height: 106rpx;
  background-color: #ffffff;
  padding-left: 48rpx;
}
.item-otherContent .item-time{
  width: 654rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rpx solid #F5F5F5;
  font-size: 32rpx;
  font-weight: 400;
}
.item-otherContent .item-time .iconfont{
  margin-left: 14rpx;
  margin-top: 10rpx;
}
.item-content .addCompany{
  display: flex;
  width: 374rpx;
  justify-content: center;
}
.item-content .addPerson{
  display: flex;
  width: 374rpx;
  justify-content: center;
}
.item-content .addSign{
  width: 30rpx;
  height: 30rpx;
  margin-top: 8rpx;
  margin-right: 16rpx;
}
.pickDate{
  display: flex;
  flex-direction: row-reverse;
}
.pickDate input{
  text-align:right;
}
.bottom-btn-container{
  height: 100rpx;
  width: 100%;
  display: flex;
  margin-bottom:40rpx;
  margin-top: 160rpx;
}
.bottom-btn-container .back{
  width:240rpx;
  height:100rpx;
  font-size:32rpx;
  font-weight:400;
  color:rgba(102,102,102,1);
  display: inline-block;
  text-align: center;
  line-height: 100rpx;
  margin-left: 32rpx;
}
.bottom-btn-container .next{
  width:400rpx;
  text-align: center;
  display: inline-block;
  height:100rpx;
  line-height: 100rpx;
  background:rgba(70,70,70,1);
  border-radius:8rpx;
  color: white;
  margin-left: 40rpx;
  font-size: 32rpx;
}
.list{
  position: relative;
  height: 190rpx;
  background-color: #ffffff;
  margin-top: 16rpx;
}
.list-copy .index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rpx;
  height: 30rpx;
  color: #ffffff;
  font-size: 24rpx;
  font-weight: 400;
  margin-right: 16rpx;
  background-color: #464646;
}
.list-copy{
  position: relative;
  height: 190rpx;
  background-color: #ffffff;
  margin-top: 16rpx;
  float:left; 
  z-index:100; 
  width:100%;
  box-shadow:0px 0px 10px 0px rgba(179,179,179,0.5);
}
.list-copy .info {
  position: absolute;
  left: 48rpx;
  top: 30rpx;
  width: 654rpx;
}

.info .name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.list-copy .info .chapter {
  font-size: 24rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
  margin-top: 8rpx;
}

.list-copy .info .name {
  font-size: 30rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}

.list-copy .info .phone {
  display: flex;
  font-size: 24rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
  margin-top: 8rpx;
}
.list-copy .info  .iconfont{
  color:#999999; 
  font-size:25rpx;
}
.sort{
  height: 96rpx;
  display: flex;
  flex-direction: row-reverse;
  border-top: 2rpx solid #F5F5F5;
  align-items: center;
  font-size: 24rpx;
  color: #999999;
}
.list::after {
  content: '';
  width: 100%;
  height: 2rpx;
  background-color: #eee;
  position: absolute;
  right: 0;
  bottom: 0;
}

.list .info {
  position: absolute;
  left: 48rpx;
  top: 30rpx;
  width: 654rpx;
}
.list .info .chapter {
  font-size: 24rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
  margin-top: 8rpx;
}

.list .info .name {
  font-size: 30rpx;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}

.list .info .phone {
  display:flex;
  font-size: 24rpx;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
  margin-top: 8rpx;
}

.list .index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rpx;
  height: 30rpx;
  color: #ffffff;
  font-size: 24rpx;
  font-weight: 400;
  margin-right: 16rpx;
  background-color: #464646;
}
.list .info  .iconfont{
  color:#999999; 
  font-size:25rpx;
}
.list .info .companyAuth{
  padding: 10rpx 16rpx;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 20rpx;
  margin-left: 16rpx;
  font-weight: 500;
}
.list .info .personAuth{
  padding: 10rpx 16rpx;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 20rpx;
  margin-left: 16rpx;
  font-weight: 500;
}
.list-copy .info .companyAuth{
  padding: 10rpx 16rpx;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 20rpx;
  margin-left: 16rpx;
  font-weight: 500;
}
.list-copy .info .personAuth{
  padding: 10rpx 16rpx;
  line-height: 1;
  display: flex;
  align-items: center;
  font-size: 20rpx;
  margin-left: 16rpx;
  font-weight: 500;
}