page {
  background-color: #F7F8F9;
}

.pay-detail--page {
  padding-bottom: 160rpx;
}

.title {
  padding: 0 48rpx;
  height: 112rpx;
  line-height: 112rpx;
  font-size: 32rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #333333;
}

.desc {
  padding: 32rpx 48rpx;
  font-size: 28rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #333333;
  background-color: #fff;
}

.info-list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48rpx;
  width: 100%;
  height: 112rpx;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #1A1A1A;
  line-height: 32rpx;
  border-bottom: 2rpx solid #F5F5F5;
  background-color: #fff;
  box-sizing: border-box;
}

.info-list .list-item input {
  text-align: right;
}

.info-list .list-item .label {
  color: #666666;
}

.info-list .list-item input {
  width: 60%;
}

.info-list .list-item .value {
  width: 60%;
  text-align: right;
}

.info-list .list-item .value input {
  width: 100%;
}

.gap {
  margin-top: 14rpx;
}

.value.select-area {
  position: relative;
  padding-right: 40rpx;
}

.value.select-area::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  content: '';
}

.value.select-area.down::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #D4D4D4;
}

.value.select-area.up::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid #D4D4D4;
}

.btn-wrapper {
  position: fixed;
  left: 0;
  bottom: 40rpx;
  width: 100%;
}

.confirm-btn {
  margin: 0 auto;
  width: calc(100% - 80rpx);
  height: 100rpx;
  font-size: 32rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  line-height: 100rpx;
  background: #464646;
  border-radius: 8rpx;
}