page {
  background-color: #F7F8F9;
}

.pay-contract--page {
  padding: 0 20rpx;
}

.pay-contract--page .amount {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 74rpx 0 64rpx;
  font-size: 76rpx;
  line-height: 76rpx;
  font-family: 'PingFangSC-Semibold, PingFang SC';
  font-weight: 600;
  color: #333333;
  line-height: 80rpx;
  text-align: center;
}

.pay-contract--page .amount .prefix {
  font-size: 40rpx;
  line-height: 46rpx;
}

.pay-contract--page .amount .money {
  margin-left: 12rpx;
  height: 66rpx;
  line-height: 66rpx;
}

.pay-contract--page .amount .decimal {
  font-size: 48rpx;
  line-height: 44rpx;
  align-self: flex-end;
}

.item-section {
  margin-bottom: 16rpx;
  border-radius: 8rpx;
  background-color: #fff;
}

.item-section .title {
  margin: 0 48rpx;
  padding: 40rpx 0 32rpx;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
  line-height: 32rpx;
  border-bottom: 2rpx solid #F5F5F5;
}

.item-section .desc {
  padding: 20rpx 48rpx 32rpx;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #1A1A1A;
  line-height: 52rpx;
}

.btn-wrapper {
  position: absolute;
  left: 0;
  bottom: 80rpx;
  width: 100%;
}

.confirm-btn {
  margin: 0 auto;
  width: calc(100% - 80rpx);
  height: 100rpx;
  font-size: 32rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  line-height: 100rpx;
  background: #464646;
  border-radius: 8rpx;
}