/* #ifdef MP-WEIXIN*/  
page{
  background-color: #F7F8F9;
  position: relative;
} 
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page{
  background-color: #F7F8F9;
  position: relative;
} 
/* #endif */
.header-Bar{
  height: 256rpx;
  background:#333333;
}
.layout{
  width: 670rpx;
  margin-left: 40rpx;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.currentName{
  display: flex;
  margin-top: 52rpx;
  margin-left: 16rpx;
  height: 46rpx;
  color: #fff;
  font-size: 34rpx;
  font-weight: 500;
}
._currentName{
  max-width: 408rpx;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  height: 100%;
}
.layout-middle{
  width: 104rpx;
  margin-top: 56rpx;
  height: 46rpx;
}
.select{
  display:inline-block;
  width: 26rpx;
  height: 15rpx;
  margin-top: 20rpx;
  margin-left: 10rpx;
}
.search {
  display: flex;
  width: 120rpx;
  height: 64rpx;
  border-radius:42rpx;
  margin-top: 44rpx;
  position: relative;
   /* 从最下面开始布局 */
   align-items: flex-center; 
   color: white;
}
.underSearch{
  display: flex;
  width: 120rpx;
  height: 64rpx;
  background-color:white;
  opacity: 0.1;
  border-radius:42rpx;
  position:absolute;
}
.nameselect{
  position: fixed;
  height: 458rpx;
  width: 670rpx;
  left:40rpx;
  top:310rpx;
  background:yellow;
  border-radius:12rpx;
}
.file-count-content-view{
  margin-left: 16rpx;
  width: 319rpx;
  height: 216rpx;
  z-index: 5;
}
.file-count-content-view-middle{
  width: 1rpx;
  height: 80rpx;
  margin-top: 68rpx;
  border-left:1rpx solid #E1E1E1FF;
  z-index: 5;

}
.count-text{
  float: left;
  display: block;
  width: 100%;
  height: 64rpx;
  line-height: 64rpx;
  margin-top: 54rpx;
  font-size: 72rpx;
  font-weight: bold;
  text-align: center;
}
.count-title{
  float: left;
  display: block;
  width: 100%;
  height: 28rpx;
  margin-top: 30rpx;
  font-size: 28rpx;
  font-weight: 400;
  text-align: center;
  color: #666666FF;
}
.launchButton{
  width: 670rpx;
  height: 100rpx;
  line-height: 100rpx;
  margin-top: 130rpx;
  margin-left: 40rpx;
  font-weight: 500;
  color: #fff;
  font-size: 32rpx;
  background:#464646;
  border-radius:8rpx;
  color:rgba(255,255,255,1);
  text-align: center;
}
.navigationupdate{
  float: left;
  height: 38rpx;
  width: 24rpx;
  border-left:10rpx solid #EE7005FF;
  margin-left:44rpx;
  margin-top:60rpx;
}
.recentUpdate{
  float: left;
  height: 44rpx;
  line-height:32rpx ;
  font-weight:600 ;
  font-size: 32rpx;
  margin-top: 64rpx;
  color: #212121FF;
}
.page-section-spacing{
  float: left;
  margin-top: 32rpx;
}
.contract{
  float: left;
  width:670rpx;
  height: 222rpx;
  background:#FFFFFFFF;
  margin-left: 40rpx;
  margin-top: 32rpx;
}
.contract-introduce{
  height: 96rpx;
  width:604rpx;
  margin-left:32rpx;
  border-bottom:2rpx solid #F5F5F5FF;
}
.contract-title{
  float: left;
  width: 426rpx;
  height: 48rpx;
  margin-top:32rpx;
  font-size:30rpx;
  font-weight: 500;
  color: rgba(51,51,51,1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contract-right{
  float:right;
  height: 96rpx;
}
.contract-reminder{
  width: 16rpx;
  height: 16rpx;
  margin-right: 8rpx;
  margin-top:44rpx;
}
.contract-state{
  float:right;
  height: 24rpx;
  margin-top:30rpx;
  font-size: 24rpx;
}
.contract-related{
  display: flex;
  flex-wrap:nowrap;
  height:62rpx;
  width: 604rpx;
  margin-left: 32rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #666666;
}
.contract-other{
  display: flex;
  flex-shrink:1;
  flex-wrap:nowrap;
  margin-left: 32rpx;
}
.contract-sponsor{
  max-width: 264rpx;
  height: 34rpx;
  margin-top: 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contract-signatory{
  width: 302rpx;
  height: 34rpx;
  margin-left: 32rpx;
  margin-top: 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}
.contract-updatetime{
  height: 22rpx;
  font-size: 22rpx;
  color: #999999FF;
}
.contract-updatetime-middle{
  height: 16rpx;
  width: 18rpx;
  border-left: 1rpx solid #D8D8D8FF;
  margin-left: 16rpx;
  margin-top: 10rpx;
}
.time{
  height: 22rpx;
  font-size: 22rpx;
  color: #999999FF;
}
.userinfo-bg-view{
  float: left;
  position: relative;
  width: 686rpx;
  height:420rpx;
  margin-top: 12rpx;
  margin-left: 32rpx;
}
.circle-view{
  position: absolute;
  width: 140rpx;
  height: 140rpx;
  border-radius: 50%;
  margin-left: 42rpx;
  background-color: #fff;
}
.home-userinfo-view{
  position: absolute;
  width: 640rpx;
  height: 216rpx;
  margin-top: 20rpx;
  margin-bottom: 20rpx;
  background-color: #fff;
}

.userinfo-cell{
  float: left;
  width: 100%;
  height: 140rpx;
}
 .user-icon{
  float: left;
  width: 120rpx;
  height: 120rpx;
  border-radius: 50%;
  margin-left: 53rpx;
  margin-top: 0rpx;
  overflow:hidden;
  display:block;
}
.username-text{
  float: left;
  margin-left: 32rpx;
  height: 40rpx;
  margin-top: 20rpx;
  font-size: 34rpx;
}
.auth-btn{
  float: left;
  margin-left: 32rpx;
  width: 130rpx;
  height: 40rpx;
  margin-top: 20rpx;
  border-bottom: 1rpx #E5E5E5 solid;
  color:#ff9f3d;
  line-height: 40rpx;
  font-size: 30rpx;
}
.auth-icon{
  float: left;
  display: block;
  width: 180rpx;
  height: 40rpx;
  margin-top: 12rpx;
  margin-left: 32rpx;
  margin-right: 200rpx;
}

.user-content-cell{
  position: relative;
  float: left;
  width: 100%;
  height: 113rpx;
  border-top: 1rpx #E5E5E5 solid;
}
.user-content-cell:first-child {
  border-top: none;
}

.wait-affirm-count{
  position: absolute;
  right: 50rpx;
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
  text-align: center;
  font-size: 28rpx;
  font-weight: 200;
  color: #fff;
  top: 31.5rpx;
  line-height: 50rpx;
}
.user-content-cell-icon{
  float: left;
  width: 40rpx;
  height: 40rpx;
  margin-top: 36.5rpx;
  margin-left: 20rpx;
}
.user-content-cell-text{
  float: left;
  width: auto;
  height: 113rpx;
  margin-left: 20rpx;
  line-height: 113rpx;
  font-size: 30rpx;
  font-weight: 400;
}
.home-count-view {
  display: flex;
  width: 670rpx;
  height: 216rpx;
  border-radius:8rpx;
  margin-left: 40rpx;
  margin-top: 32rpx;
  background-color: #fff;
  margin-right: 40rpx;
  box-shadow: 2rpx 2rpx 2rpx 2rpx rgba(200,200,200,0.1);
}
.home-count-bg{
  position: absolute;
  width: 750rpx;
  height: 312rpx;
  left: 0rpx;
  top: 0px;
  z-index: -1;
}
.userinfo-cover-view{
  float: left;
  width: 100%;
  height: 108rpx;
}


/*  #ifdef  H5  */
.warning{
  position: fixed;
  bottom: 100rpx;
  left: 0rpx;
  height: 148rpx;
  width: 670rpx;
  margin:32rpx 40rpx;
  border-top: 1rpx #E5E5E5 solid;
  border-radius:8rpx;
  border-left: 8rpx solid #464646;
  background: white;
}
/*  #endif  */

/*  #ifndef  H5  */
.warning{
  position: fixed;
  bottom: 0rpx;
  left: 0rpx;
  height: 148rpx;
  width: 670rpx;
  margin:32rpx 40rpx;
  border-top: 1rpx #E5E5E5 solid;
  border-radius:8rpx;
  border-left: 8rpx solid #464646;
  background: white;
}
/*  #endif  */

.warn-title{
  display: block;
  margin-top: 32rpx;
  margin-left: 48rpx;
  height: 42rpx;
  font-size: 30rpx;
  color: #202020;
}
.warn-content{
  display: block;
  margin-top: 10rpx;
  margin-left: 48rpx;
  height: 32rpx;
  font-size: 24rpx;
  color: #999999;
}
.user-dialog__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  display: none;
 }
 
 .user-dialog__container {
  position: fixed;
  top: 240rpx;
  width: 606rpx;/*弹窗布局宽*/
  min-height: 458rpx;/*弹窗布局高，与下面弹出距离transform有关*/
  margin-left: 72rpx;
  background: #FFFFFF;
  transform: translateY(-200%);/*弹框弹出距离，与弹框布局高度有关，如300%表示弹起距离为3倍弹窗高度*/
  transition: all 0.25s ease-in-out;
  z-index:12;
  border-radius: 12rpx;
 }
 
 .user-dialog--show .user-dialog__container {
  transform: translateY(0);
 }
 
 .user-dialog--show .user-dialog__mask {
  display: block;
 }
.userSwitch{
  display: flex;
  justify-content: space-between;
  margin:16rpx 48rpx 0rpx 48rpx;
  height: 96rpx;
  line-height: 96rpx;
  color:#999999;
  font-size: 28rpx;
  border-bottom:2rpx solid rgba(238,238,238,1);
}
.company{
  display: flex;
  justify-content: space-between;
  width: 158rpx;
  color:#6E82A9;
}
.company-icon{
  width:28rpx;
  height: 28rpx;
  margin-top:34rpx;  
}
.company-add{
  width:75%;
  text-align: right;
}
.userList{
  display: flex;
  height: 108rpx;
  margin:0rpx 48rpx;
  font-size: 30rpx;
  font-weight:400;
  color: #333333;
  border-bottom: 2rpx solid #F5F5F5;

}
.userList-icon{
  margin-top: 34rpx;
  width: 40rpx;
  height: 40rpx;
}
.userList-name{
  margin-top: 34rpx;
  margin-left:16rpx;
  width: 328rpx;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.userList-state{
  width: 92rpx;
  height: 40rpx;
  line-height: 40rpx;
  font-size: 20rpx;
  background-color: rgba(62,180,168,0.1);
  color: #3EB4A8;
  margin-top: 32rpx;
  margin-left: 32rpx;
  text-align: center;
  font-weight: 600;
}
.scroll-under{
  height: 32rpx;
}