/* pages/account/login/login.wxss */


.btn{
  position: absolute;
  left: 50%;
	transform: translateX(-50%);
  top: 556rpx;
  width: 534rpx;
  height: 88rpx;
  line-height: 88rpx;
  color: white;
  font-size: 32rpx;
  font-weight: 200;
  border-radius: 8rpx;
  background:rgba(70,70,70,1);
}

.login-title{
  position: absolute;
  top: 128rpx;
  width: 100%;
  text-align: center;
  font-size: 46rpx;
  line-height: 46rpx;
  height: 46rpx;
  color: #fff;
}

/* .login-bg{
  position: fixed;
  width: 100%;
  height: 100%;
} */

.mark-view{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6)
}
.mark-content-view{
  position: fixed;
  width: 590rpx;
  height: 300rpx;
  left: 80rpx;
  top: 350rpx;
  background-color: #fff;
  border-radius: 10rpx;
}
.mark-phone-input{
  float: left;
  width: 526rpx;
  margin-left: 32rpx;
  height: 80rpx;
  margin-top: 64rpx;
  line-height: 80rpx;
  border-bottom: 1rpx #E5E5E5 solid;
  text-align: center;
  font-size: 30rpx;
  font-weight: 200;
  color: #404040;
}
.mark-btn{
  float: left;
  width: 430rpx;
  margin-left: 80rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin-top: 40rpx;
  background:rgba(70,70,70,1);
  border-radius:8px;
  color: #fff;
  text-align: center;
  font-size: 30rpx;
  font-weight: 200;
}
