.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99;
}

.modal-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  min-width: 580rpx;
  border-radius: 20rpx;
}

.modal-wrapper .header {
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 32rpx;
  color: #333;
  font-weight: 500;
  border-top-left-radius: 20rpx;
  border-top-right-radius: 20rpx;
  background-color: #fff;
}

.modal-wrapper .content {
  margin-top: 4rpx;
  padding: 24rpx 48rpx;
  background-color: #fff;
}

.modal-wrapper .content .inner {
  max-height: 400rpx;
}

.modal-wrapper .content .inner .item {
  padding-bottom: 8rpx;
  line-height: 48rpx;
  color: #666;
}

.modal-wrapper .footer {
  margin-top: 4rpx;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 32rpx;
  font-weight: 500;
  border-bottom-left-radius: 20rpx;
  border-bottom-right-radius: 20rpx;
  background-color: #fff;
}