
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #F7F8F9;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #F7F8F9;
}
/* #endif */

.pageContent {
  padding-bottom: 140rpx;
}

.pageHeader {
  background-color: #ffffff;
  margin: 54rpx 30rpx 16rpx 30rpx;
  height: 236rpx;
  border-radius: 4rpx;
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.title {
  height: 98rpx;
  line-height: 118rpx;
  font-size: 26rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}

.amount {
  display: flex;
}

.value-input{
  height: 106rpx;
}

.prefix {
  height: 106rpx;
  line-height: 106rpx;
  font-size: 28px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #333333;
  margin-right: 24rpx;
}

.value-input{
  font-size: 60rpx;
}
.receipt-message {
  background-color: #ffffff;
  margin: 0rpx 30rpx 16rpx 30rpx;
  border-radius: 4rpx;
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.input-message-box {
  position: relative;
  width: 100%;
  padding-bottom: 60rpx;
}
.input-message-box textarea{
  min-height: 112rpx;
  padding-top: 32rpx;
  font-size: 28rpx;
  width: 100%;
  height: 160rpx;
}

.payer-info {
  margin: 16rpx 30rpx;
  padding: 16rpx 40rpx;
  background-color: #fff;
}

.payer-info .title {
  font-size: 24rpx;
  line-height: 98rpx;
  border-bottom: 1px solid #F5F5F5;
}

.payer-info .info-wrapper {
  padding-top: 16rpx;
}

.payer-info .info-wrapper input {
  border: none;
  font-size: 28rpx;
}

.input-tip {
  font-size:24rpx;
  position: absolute;
  right:0rpx;
  bottom:32rpx;
  color:#999999FF;
}

.nextButton{
  position: fixed;
  bottom: 40rpx;
  width: 670rpx;
  margin-left: 40rpx;
  height: 96rpx;
  line-height: 96rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 8rpx;
}