.message-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99;
  display: none;
}

.show {
  display: block;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.message-wrapper {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #f5f5f5;
  min-width: 580rpx;
  border-radius: 20rpx;
  z-index: 2;
  transition: all .2s ease-in-out;
}

.contentShow {
  transform: translate(-50%, -50%);
}

.message-wrapper .header {
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 34rpx;
  color: #333;
  font-weight: 500;
  border-top-left-radius: 20rpx;
  border-top-right-radius: 20rpx;
  background-color: #fff;
}

.message-wrapper .content {
  padding: 32rpx 48rpx;
  background-color: #fff;
}

.message-wrapper .content .inner {
  max-height: 400rpx;
}

.message-wrapper .content .inner .item {
  padding-bottom: 8rpx;
  font-size: 30rpx;
  line-height: 48rpx;
  color: #666;
}

.message-wrapper .footer {
  margin-top: 4rpx;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 32rpx;
  font-weight: 500;
  border-bottom-left-radius: 20rpx;
  border-bottom-right-radius: 20rpx;
  background-color: #fff;
}