.entrance-page {
	position: fixed;
	top: 0;
	left: 0;
	padding: 30rpx 40rpx;
	width: 100%;
	height: 100%;
	background-color: #F7F8F9;
}

/*  #ifdef  H5  */
.entrance-page {
	padding-top: 118rpx;
}
/*  #endif  */

.entrance-page .entrance-point {
	padding: 0 32rpx;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
}

.entrance-page .entrance-point .inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 46rpx 0;
	font-size: 30rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #333333;
	line-height: 32rpx;
	border-bottom: 2rpx solid #F5F5F5;
}

.entrance-page .entrance-point:last-of-type .inner {
	border-bottom: none;
}

.entrance-page .entrance-point:first-of-type {
	border-radius: 8rpx 8rpx 0 0;
}

.entrance-page .entrance-point:last-of-type {
	border-radius: 0 0 8rpx 8rpx;
}