/* pages/contract/contractList/contractTemplate/contractTemplate.wxss */
.contract-search {
  padding: 32rpx 40rpx 16rpx;
}
.contract-template{
  margin:0 40rpx; 
  width: 670rpx;
  min-height: 154rpx;
  border-bottom: 2rpx solid #F5F5F5;
  display: flex;
  flex:1;
}

.img{
  width: 48rpx;
  height: 64rpx;
  margin-right: 36rpx;
  margin-top:46rpx;
}
.template-content{
  padding-top:32rpx;
  padding-bottom: 32rpx;
  width: 570rpx;
}
.template-title{
  font-size: 30rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 48rpx;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.update-time{
  font-size: 24rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 34rpx;
  margin-top: 8rpx;
}

.touch-bottom--tips {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.touch-bottom--tips .words {
  position: relative;
  font-size: 28rpx;
  color: #999;
  line-height: 80rpx;
}

.touch-bottom--tips .line {
  margin: 0 16rpx;
  width: 100rpx;
  height: 4rpx;
  background-color: #ddd;
}