
/* #ifdef MP-WEIXIN*/  
page {
	background: rgba(247, 248, 249, 1);
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
	background: rgba(247, 248, 249, 1);
}
/* #endif */

.company-type-select {
    font-size: 32rpx;
}

.company-type-select .type-select-header {
    font-size: 36rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding: 32rpx 0 32rpx 48rpx;
}

.company-type-select .type-select-header .type-text {
    font-size: 32rpx;
    display: inline-block;
    line-height: 32rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding-left: 20rpx;
    border-left: 8rpx solid #EE7005;
}
.type-select-header .iconfont {
    font-size: 28rpx;
    position: relative;
    top: 4rpx
}

.types-select-container {
    width: 100%;
    height: 258rpx;
    background: rgba(255, 255, 255, 1)
}

.types-select-container .type-item {
    font-size: 32rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    height: 304rpx;
    line-height: 128rpx;
    padding: 0 48rpx;
    margin-bottom: 20rpx;
    background: white;
}

.types-select-container .type-item .bottom-info {
    font-size: 30rpx;
    color: rgba(153, 153, 153, 1);
    border-top: 2rpx solid #F5F5F5;
    line-height: 48rpx;
    font-weight: 400;
    padding-top: 30rpx;
}

.types-select-container .type-item .right {
    float: right;
    color: #999999;
    font-weight: 400;
    font-size: 28rpx;
}

.types-select-container .type-item .right .iconfont {
    position: relative;
    top: 4rpx;
    left: 8rpx;
}

.line {
    border-bottom: 1rpx solid #F5F5F5;
}