/* #ifdef MP-WEIXIN*/  
page {
	background: rgba(247, 248, 249, 1);
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
	background: rgba(247, 248, 249, 1);
}
/* #endif */

.personal-info {
    font-size: 32rpx;
}

.personal-info .type-select-header {
    display: flex;
    justify-content:space-between;
    font-size: 36rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding: 26rpx 48rpx 28rpx 48rpx;
}
.personal-info .type-select-header .right{
    display: flex;
    flex-wrap: nowrap;
    font-size:26rpx;
    font-weight:400;
    color:rgba(48,180,86,1);
    margin-top: 12rpx;
}
.personal-info .type-select-header .right .safe-tip{
    width: 26rpx;
    height: 26rpx;
    margin-right: 8rpx;
    margin-top:8rpx;
}
.personal-info .type-select-header .type-text {
    height: 40rpx;
    line-height: 40rpx;
    font-size: 32rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    margin-top:12rpx;
    padding-left: 20rpx;
    border-left: 8rpx solid #EE7005;
}

.personal-info .base-info-container{
    padding: 0 48rpx;
    background: white;
}
.personal-info .base-info-container .field-item{
    background: white;
    height: 126rpx;
    line-height: 126rpx;
    display: flex;
    border-bottom: 2rpx solid #F5F5F5;
}
.field-item-division{
    width: 100%;
    height: 20rpx;
    background-color: #F7F8F9;
}
.personal-info .base-info-container .field-item .name{
    font-size:32rpx;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:126rpx;
    display: inline-block;
    flex: 1;
}
.personal-info .base-info-container .field-item .get-code{
    font-size:28rpx;
    font-weight:400;
    color:rgba(110,135,184,1);
    text-align: right;
}
.personal-info .base-info-container .field-item .code-line{
    border-left: 2rpx solid #D8D8D8;
    height:32rpx;
    width: 1rpx;
    position: relative;
    top:46rpx;
    margin: 0 10rpx 0 30rpx;
}
.personal-info .base-info-container .field-item .value-input,.value-select{
    font-size:28rpx;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:126rpx;
    text-align: right;
    height: 126rpx;
    flex: 1;
}
.base-info-reminder{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 32rpx;
    margin-left: 48rpx;
    font-size: 26rpx;
}
.bottom-btn-container{
    width: 100%;
    display: flex;
    margin-bottom: 20rpx;
    margin-top: 40rpx;
    position: fixed;
    bottom: 40rpx;
}
.bottom-btn-container .back{
    width:160rpx;
    height:100rpx;
    font-size:32rpx;
    font-weight:400;
    color:rgba(102,102,102,1);
    display: inline-block;
    text-align: center;
    line-height: 100rpx;
    margin-left: 32rpx;
}
.bottom-btn-container .next{
    width:478rpx;
    text-align: center;
    display: inline-block;
    height:100rpx;
    line-height: 100rpx;
    background:#B7B7B7;
    border-radius:8rpx;
    color: white;
    margin-left: 40rpx;
}
/*  重写 radio 样式  */
/* 未选中的 背景样式 */
radio .wx-radio-input{
    border-radius: 0%;
    width: 28rpx;
    height: 28rpx;
    border:2rpx solid #CCCCCC;
    background: #F7F8F9;
 }
 /* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
 radio .wx-radio-input.wx-radio-input-checked{
    border:2rpx solid #EE7005;
    background: #EE7005;
 }
 /* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
 radio .wx-radio-input.wx-radio-input-checked::before{
    width: 28rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
    height: 28rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
    line-height: 24rpx;
    text-align: center;
    font-size:20rpx; /* 对勾大小 30rpx */
    color:#ffffff; /* 对勾颜色*/
    transform:translate(-50%, -50%) scale(1);
    -webkit-transform:translate(-50%, -50%) scale(1);
 }