
.give-settings .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 48rpx;
  width: 100%;
  height: 106rpx;
}

.give-settings .header .border {
  margin-right: 20rpx;
  width: 8rpx;
  height: 40rpx;
  background-color: #EE7005;
}

.give-settings .header .title {
  font-size: 32rpx;
  font-weight: 500;
  color: #333;
}

.give-settings .settings-section {
  margin-bottom: 16rpx;
  background-color: #fff;
}

.give-settings .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32rpx 48rpx;
  border-bottom: 2rpx solid #f5f5f5;
}

.give-settings .item:last-of-type {
  border-bottom: none;
}

.give-settings .item .label, .give-settings .item .value {
  position: relative;
  font-size: 30rpx;
  line-height: 30rpx;
  color: #333;
}

.give-settings .item .label {
  color: #666;
}

.give-settings .item .value input {
  padding-right: 48rpx;
  text-align: right;
  font-size: 28rpx;
  color: #333;
  line-height: 28rpx;
}

.prefix {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28rpx;
  line-height: 28rpx;
  color: #333;
}

.give-settings .item .value input::placeholder {
  color: #999;
}

.give-settings .item .value .count-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.count-area .minus,
.count-area .incres {
  width: 60rpx;
  height: 60rpx;
  text-align: center;
  line-height: 56rpx;
  font-size: 32rpx;
  color: #666666;
  background-color: #F2F2F2;
  border: 2rpx solid #ddd;
  border-radius: 4rpx;
}

.count-area .count {
  height: 60rpx;
  line-height: 60rpx;
  width: 80rpx;
  text-align: center;
  font-size: 28rpx;
  color: #4a4a4a;
  border-top: 2rpx solid #ddd;
  border-bottom: 2rpx solid #ddd;
  background-color: #fff;
}

.way-select--area .way-select--area {
  position: relative;
}

.way-select--area .way-select--area .select-value {
  padding-right: 26rpx;
  font-size: 28rpx;
  color: #333;
  line-height: 28rpx;
}

.way-select--area .way-select--area .trangle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10rpx solid transparent;
  border-right: 10rpx solid transparent;
  border-top: 18rpx solid #666;
}

.count-area input {
  padding-right: 20rpx;
  text-align: right;
}

.confirm-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80rpx;
  height: 100rpx;
  line-height: 100rpx;
  width: calc(100% - 96rpx);
  text-align: center;
  color: #fff;
  font-size: 32rpx;
  font-weight: 500;
  border-radius: 8rpx;
  background-color: #464646;
}