
.contract-list--page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
}

.pl-search {
  padding: 0rpx 48rpx;
  width: 100%;
}

.list-wrapper {
  position: absolute;
  width: 100%;
  top: 80rpx;
  left: 0;
  height: calc(100% - 80rpx);
}

.bottom-loading {
  width: 100%;
  text-align: center;
  font-size: 26rpx;
  color: #999;
  height: 80rpx;
  line-height: 80rpx;
  transition: all .2s ease-in-out;
}

.contract {
  padding: 0 48rpx;
  width: 100%;
  height: 204rpx;
  border-bottom: 2rpx solid #F5F5F5;
  box-sizing: border-box;
  position: relative;
}

.contract-introduce {
  height: 80rpx;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.contract-introduce .contract-title {
  width: 464rpx;
  margin-top: 32rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contract-introduce .contract-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 52rpx;
  width: 126rpx;
  margin-top: 24rpx;
}

.contract-introduce .contract-right .status-icon {
  width: 12rpx;
  height: 12rpx;
  border-radius: 50%;
}

.contract-introduce .contract-right .contract-state {
  margin-left: 12rpx;
  font-size: 24rpx;
  color: #999;
}

.contract-related {
  display: flex;
  flex-wrap: nowrap;
  height: 62rpx;
  width: 456rpx;
  font-size: 24rpx;
  font-weight: 400;
  color: #666666FF;
}

.contract-other {
  display: flex;
  flex-shrink: 1;
  flex-wrap: nowrap;
  margin-top: 6rpx;
}

.contract-sponsor {
  max-width: 180rpx;
  height: 34rpx;
  margin-top: 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contract-signatory {
  width: 244rpx;
  height: 34rpx;
  margin-left: 32rpx;
  margin-top: 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.contract-updatetime {
  height: 22rpx;
  font-size: 22rpx;
  color: #999999FF;
}

.contract-updatetime-middle {
  height: 16rpx;
  width: 18rpx;
  border-left: 1rpx solid #D8D8D8FF;
  margin-left: 16rpx;
  margin-top: 8rpx;
}

.time {
  height: 22rpx;
  font-size: 22rpx;
  color: #999999FF;
}

.empty-data {
  width: 100%;
}

.contract-operate {
  position: absolute;
  right: 48rpx;
  top: 64rpx;
  padding: 12rpx 0 24rpx 24rpx;
}

.contract-operate>.contract-operate_item {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #333;
  margin: 0 2px;
}

.slide-menu_list {
  width: 100%;
  background: #fff;
}

.slide-menu_list>.slide-menu_item {
  height: 104rpx;
  margin: 0 48rpx;
  line-height: 104rpx;
  text-align: center;
  border-bottom: 1px solid #efefef;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(33, 33, 33, 1);
}

.chain-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.chain-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}

.chain-img {
  width: 60%;
  padding: 20rpx;
  border-radius: 20rpx;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin: auto;
  /* background: #fff; */
}

.chain-img > .chainImgItem {
  width: 100%;
}

.noUseSlide {
  color: #ccc!important;
}