view {
  box-sizing: border-box;
}

.use-template--page {
	position: relative;
	padding-bottom: 200rpx;
	background-color: #f7f8f9;
}

.title {
  padding: 0 48rpx;
  width: 100%;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #333333;
  background-color: #F7F8F9;
}

.arrow {
  font-size: 32rpx;
  color: #CECECE;
}

.input-area {
  display: flex;
  align-items: center;
  padding: 0 48rpx;
  width: 100%;
  height: 116rpx;
  line-height: 116rpx;
  background-color: #fff;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #333333;
}

.input-area input {
  position: relative;
  padding-right: 32rpx;
  width: 100%;
}

.input-area .delete {
  font-size: 28rpx;
  color: #666;
}

.file-list {
  padding: 0 48rpx;
  background-color: #fff;
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 104rpx;
  line-height: 104rpx;
  border-bottom: 2rpx solid #F5F5F5;
}

.file-item:last-of-type {
  border-bottom: none;
}

.file-item .l-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.file-item .icon {
  width: 32rpx;
  height: 32rpx;
}

.file-item .icon image {
  display: block;
  width: 100%;
  height: 100%;
}

.file-item .name {
  margin-left: 8rpx;
  font-size: 26rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
  line-height: 48rpx;
}

.sign-list {
  background-color: #f7f8f9;
}

.sign-list .sign-item {
  margin-bottom: 16rpx;
  background-color: #fff;
  padding: 32rpx 48rpx;
}

.sign-item .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32rpx;
  border-bottom: 2rpx solid #f5f5f5;
}

.name-auth, .phone-auth {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phone-auth {
  padding-top: 18rpx;
}

.name-auth .name {
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #212121;
  line-height: 40rpx;
}

.name-auth .auth-status, .phone-auth .auth-status {
  margin-left: 16rpx;
  padding: 8rpx 16rpx;
  font-size: 20rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #333;
}

.name-auth .auth-status.authed, .phone-auth .auth-status.authed  {
  color: #3EB4A8;
  background-color: rgba(62, 180, 168, .1);
}

.name-auth .auth-status.unauth, .phone-auth .auth-status.unauth {
  color: #666;
  background-color: #f4f4f4;
}

.user-info .info .phone {
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
  line-height: 30rpx;
}

.user-info .info .seals {
  padding-top: 16rpx;
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #999999;
  line-height: 30rpx;
}

.user-info .edit {
  display: flex;
  align-items: center;
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #999999;
  line-height: 24rpx;
}

.sign-item .order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 26rpx;
}

.order .sub-title {
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
  line-height: 30rpx;
}

.order .order-detail {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.order .order-detail .item {
  display: flex;
  align-items: center;
  margin-right: 24rpx;
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
  line-height: 28rpx;
}

.order .order-detail .item:last-of-type {
  margin-right: 0;
}

.order .order-detail .item .order-words {
  margin-left: 12rpx;
  padding: 2rpx 4rpx;
  min-width: 24rpx;
  min-height: 24rpx;
  font-size: 18rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(136, 136, 136, 1);
}

.add-cc {
  width: 100%;
  height: 106rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.add-cc .add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #6E82A9;
  line-height: 30rpx;
}

.add-cc .add-btn:first-of-type {
  border-right: 2rpx solid #D8D8D8;
}

.add-cc .add-btn image {
  margin-right: 16rpx;
  width: 30rpx;
  height: 30rpx;
}

.cc-item {
  position: relative;
  margin-top: 16rpx;
  padding: 36rpx 48rpx 32rpx;
  background-color: #fff;
}

.cc-item .phone {
  padding-top: 18rpx;
  font-size: 24rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
  line-height: 30rpx;
}

.cc-item .delete {
  position: absolute;
  top: 40rpx;
  right: 38rpx;
  font-size: 28rpx;
  color: #999;
}

.other-setting {
  padding: 0 48rpx;
  background-color: #fff;
}

.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 112rpx;
  border-bottom: 2rpx solid #f5f5f5;
}

.setting-item:last-of-type {
  border-bottom: none;
}

.setting-item .sub-title {
  font-size: 32rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #333333;
  line-height: 32rpx;
}

.setting-item .date-picker {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #999999;
  line-height: 32rpx;
}

.setting-item .date-picker input {
  text-align: right;
}

.launch-btn {
  position: absolute;
  left: 40rpx;
  bottom: 50rpx;
  width: calc(100% - 80rpx);
  height: 100rpx;
  line-height: 100rpx;
  background-color: #464646;
  font-size: 32rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  border-radius: 8rpx;
}