
/* #ifdef MP-WEIXIN*/  
page {
  position: relative;
  background-color: #F7F8F9;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  position: relative;
  background-color: #F7F8F9;
}
/* #endif */

view {
  box-sizing: border-box;
}

.title {
  padding: 0 48rpx;
  height: 110rpx;
  line-height: 110rpx;
  font-size: 32rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #333333;
}

.value-list {
  background-color: #fff;
}

.suggest-list {
  position: absolute;
  top: 112rpx;
  left: -48rpx;
  transform: translateY(-100%);
  opacity: 0;
  padding: 0 48rpx;
  width: calc(100% + 96rpx);
  background-color: #fff;
  transition: all .2s ease-in-out;
  box-shadow: 4rpx 0 4rpx #eee;
  z-index: 11;
}

.suggest-list.show {
  opacity: 1;
  transform: translateY(0);
}

.suggest-list .item {
  height: 110rpx;
  line-height: 110rpx;
  font-size: 32rpx;
  color: #666;
}

.list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 48rpx;
  height: 110rpx;
  border-bottom: 2rpx solid #f5f5f5;
}

.list-item:last-of-type {
  border-bottom: none;
}

.list-item .sub-tit {
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #212121;
  line-height: 30rpx;
}

.list-item input {
  width: 70%;
  font-size: 30rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #212121;
  line-height: 30rpx;
  text-align: right;
}

.btn-group {
  position: absolute;
  bottom: 100rpx;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-group .cancel {
  width: 220rpx;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 32rpx;
  font-family: 'PingFangSC-Regular, PingFang SC';
  font-weight: 400;
  color: #666666;
}

.btn-group .confirm {
  width: 460rpx;
  height: 100rpx;
  line-height: 100rpx;
  background: #999999;
  border-radius: 8rpx;
  text-align: center;
  font-size: 32rpx;
  font-family: 'PingFangSC-Medium, PingFang SC';
  font-weight: 500;
  color: #FFFFFF;
}

.canNext {
  background-color: #464646 !important;
}