/* components/slideitem/slideitem.wxss */

.slide-item {
  position: relative;  
  overflow: hidden;
  width: 100%;
}

.item-inner {
  position: absolute;
  top: 0; 
}

.item-inner.item-content {
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: left 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-inner.del{
  background-color: #e64340;
  width: 180rpx;
  text-align: center;
  z-index: 4;
  right: 1rpx;
  top: 2%;
  bottom: 2%;
  color: #fff;
  height: 96%;
  font-size: 32rpx;
  font-weight: 200;
}
