
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #F7F8F9;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #F7F8F9;
}
/* #endif */


.theme-title{
  padding: 0rpx 48rpx;
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  height: 110rpx;
  line-height: 110rpx;
}
.input-name-box {
  position: relative;
  width: 100%;
  padding-bottom: 60rpx;
  background-color: #ffffff;
}
.input-name-box textarea{
  min-height: 112rpx;
  width: 654rpx;
  margin-right: 48rpx;
  margin-left: 48rpx;
  padding-top: 32rpx;
  font-size: 28rpx;
}
.input-tip {
  font-size:24rpx;
  position: absolute;
  right:48rpx;
  bottom:32rpx;
  color:#999999FF;
}
.file-title {
  padding: 0rpx 48rpx;
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  height: 110rpx;
  line-height: 110rpx;
}

.file-view {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height:112rpx;
  line-height: 112rpx;
  padding-left: 48rpx;
  padding-right: 48rpx;
  background: rgba(255, 255, 255, 1);
  font-size: 28rpx;
  color: #6E87B8;
}
.file-name{
  margin-left: 16rpx;
  max-width:560rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.file-format{
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.file-image{
  width: 36rpx;
  height: 36rpx;
}
.linkman-title{
  padding: 0rpx 48rpx;
  font-size: 32rpx;
  color: #333333;
  font-weight: 500;
  height: 110rpx;
  line-height: 110rpx;
}
.linkman-add-sponsor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height:112rpx;
  padding-left: 48rpx;
  padding-right: 48rpx;
  font-size: 30rpx;
  font-weight: 400;
}
.linkman-add-sponsor .sponsor{
  max-width: 420rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.linkman-add-sponsor .right{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  color: #999999;
  font-weight: 400;
}
.linkman-add-sponsor .right .iconfont {
  position: relative;
  top: 4rpx;
  left: 8rpx;
}
/*
.linkman-item{
  position: relative;
  float: left;
  margin-top: 20rpx;
  margin-left: 48rpx;
  height: 182rpx;
  width: 132rpx;
}
.linkman-icon{
  position: absolute;
  width: 120rpx;
  height: 120rpx;
  top: 12rpx;
  left: 0rpx;
}
.item-one-row{
  margin-top: 0rpx;
}
.item-one-line{
  margin-left: 0rpx;
}
.bottom{
  float: left;
  width: 100%;
  height: 96rpx;
  margin-left: 32rpx;
}*/
.nextButton{
  position: fixed;
  bottom: 40rpx;
  width: 670rpx;
  margin-left: 40rpx;
  height: 96rpx;
  line-height: 96rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border-radius: 8rpx;
}

.user-dialog__mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.5);
  display: none;
 }
 
 .user-dialog__container {
  position: fixed;
  top: 240rpx;
  width: 606rpx;/*弹窗布局宽*/
  min-height: 458rpx;/*弹窗布局高，与下面弹出距离transform有关*/
  margin-left: 72rpx;
  background: #FFFFFF;
  transform: translateY(-200%);/*弹框弹出距离，与弹框布局高度有关，如300%表示弹起距离为3倍弹窗高度*/
  transition: all 0.2s ease-in;
  z-index:12;
  border-radius: 12rpx;
 }
 
 .user-dialog--show .user-dialog__container {
  transform: translateY(0);
 }
 
 .user-dialog--show .user-dialog__mask {
  display: block;
 }
.userSwitch{
  display: flex;
  justify-content: space-between;
  margin:16rpx 48rpx 0rpx 48rpx;
  height: 96rpx;
  line-height: 96rpx;
  color:#999999;
  font-size: 28rpx;
  border-bottom:2rpx solid rgba(238,238,238,1);
}
.company{
  display: flex;
  justify-content: space-between;
  width: 158rpx;
  color:#6E82A9;
}
.company-icon{
  width:28rpx;
  height: 28rpx;
  margin-top:34rpx;  
}
.company-add{
  width:75%;
  text-align: right;
}
.userList{
  display: flex;
  height: 108rpx;
  margin:0rpx 48rpx;
  font-size: 30rpx;
  font-weight:400;
  color: #333333;
  border-bottom: 2rpx solid #F5F5F5;

}
.userList-icon{
  margin-top: 34rpx;
  width: 40rpx;
  height: 40rpx;
}
.userList-name{
  margin-top: 34rpx;
  margin-left:16rpx;
  width: 328rpx;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.userList-state{
  width: 92rpx;
  height: 40rpx;
  line-height: 40rpx;
  font-size: 20rpx;
  background-color: rgba(62,180,168,0.1);
  color: #3EB4A8;
  margin-top: 32rpx;
  margin-left: 32rpx;
  text-align: center;
  font-weight: 600;
}
.scroll-under{
  height: 32rpx;
}
