
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #f5f5f5;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #f5f5f5;
}
/* #endif */


view {
  box-sizing: border-box;
}

.buy-card--page .section {
  margin: 16rpx 0;
  padding: 48rpx;
  background-color: #fff;
}

.label {
  font-size: 32rpx;
  line-height: 32rpx;
  color: #333;
}

.value {
  font-size: 32rpx;
  line-height: 32rpx;
  color: #333;
}

.buy-card--page .buy-amount--section {
  padding: 0 48rpx;
  background-color: #fff;
}

.buy-card--page .buy-amount--section .amount-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rpx solid #f5f5f5;
}

.buy-amount--section .amount-list .list-area {
  padding: 32rpx 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.amount-list .list-area .list-item {
  margin-left: 20rpx;
  padding: 8rpx 30rpx;
  color: #666;
  font-size: 28rpx;
  line-height: 40rpx;
  border: 2rpx solid #ddd;
  border-radius: 4rpx;
}

.amount-list .list-area .list-item.active {
  color: #ED6C00;
  border-color: #ED6C00;
}

.buy-amount--section .amount-input--area {
  position: relative;
  padding: 32rpx 0;
  border-bottom: 2rpx solid #f5f5f5;
}

.amount-input--area input {
  padding-right: 48rpx;
	width: 100%;
  text-align: right;
  font-size: 28rpx;
  color: #333;
  line-height: 28rpx;
	box-sizing: border-box;
}

.count-area input {
  padding-right: 20rpx;
  text-align: right;
}

.amount-input--area .prefix {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28rpx;
  line-height: 28rpx;
  color: #333;
}

.amount-input--area input::placeholder {
  font-size: 28rpx;
  color: #999;
  line-height: 28rpx;
}

.total-way--seciton {
  padding: 0 48rpx !important;
}

.total-way--seciton .item {
  padding: 44rpx 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2rpx solid #f5f5f5;
}

.total-way--seciton .item.select-count--area {
  padding: 32rpx 0;
}

.total-way--seciton .item:last-of-type {
  border-bottom: none;
}

.total-way--seciton .item .count-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-way--seciton .item .count-area .minus,
.total-way--seciton .item .count-area .incres {
  width: 60rpx;
  height: 60rpx;
  text-align: center;
  line-height: 52rpx;
  font-size: 32rpx;
  color: #666666;
  background-color: #F2F2F2;
  border: 2rpx solid #ddd;
  border-radius: 4rpx;
}

.total-way--seciton .item .count-area .count {
  height: 60rpx;
  line-height: 56rpx;
  width: 80rpx;
  text-align: center;
  font-size: 28rpx;
  color: #4a4a4a;
  border-top: 2rpx solid #ddd;
  border-bottom: 2rpx solid #ddd;
  background-color: #fff;
}

.way-select--area .way-select--area {
  position: relative;
}

.way-select--area .way-select--area .select-value {
  padding-right: 26rpx;
  font-size: 28rpx;
  color: #333;
  line-height: 28rpx;
}

/*  #ifdef H5 */
.way-select--area .way-select--area .select-value {
	padding-right: 0;
}
/*  #endif  */

.way-select--area .way-select--area .trangle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10rpx solid transparent;
  border-right: 10rpx solid transparent;
  border-top: 18rpx solid #666;
}


.confirm-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80rpx;
  height: 100rpx;
  line-height: 100rpx;
  width: calc(100% - 96rpx);
  text-align: center;
  color: #fff;
  font-size: 32rpx;
  font-weight: 500;
  border-radius: 8rpx;
  background-color: #464646;
}