/* components/avatar/avatar.wxss */
.avatar-box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.avatar-box .avatar-default {
  width: 100%;
  height: 100%;
}

.avatar-box .avatar-default .avatar-bg {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
}

.avatar-box .avatar-default .avatar-text-box {
  float: left;
  width: 100%;
  height: 100%;
  margin-top: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-box .avatar-default .avatar-text-box .avatar-text {
  color: #603813;
  font-weight: 500;
  text-align: center;
}

.avatar-box .avatar-custom {
  border-radius:100%;
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
  display: block;
}