.contact-project--page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.contact-project--page .search-area {
	padding: 20rpx 40rpx;
	height: 120rpx;
	border-bottom: 1rpx solid #F5F5F5;
	box-sizing: border-box;
}

.contact-project--page .list-area {
	padding: 24rpx 40rpx;
	width: 100%;
	height: calc(100% - 120rpx);
	box-sizing: border-box;
}

.contact-project--page .list-area .selected-num {
	font-size: 28rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #666666;
	line-height: 40rpx;
}

.contact-project--page .list-area .project-list--area {
	padding-bottom: 140rpx;
	width: 100%;
	height: calc(100% - 40rpx);
	box-sizing: border-box;
}

.contact-project--page .list-area .project-list--area .item {
	padding: 32rpx 0;
	border-bottom: 1rpx solid #F5F5F5;
}

.contact-project--page .list-area .project-list--area .item .flex-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contact-project--page .list-area .project-list--area .item .icon {
	width: 80rpx;
	height: 80rpx;
}

.project-list--area .item .icon image {
	width: 100%;
	height: 100%;
}

.project-list--area .item .content {
	margin-left: 24rpx;
	width: calc(100% - 80rpx - 40rpx - 48rpx);
}

.project-list--area .item .content .title {
	font-size: 30rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #333333;
	line-height: 48rpx;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.project-list--area .item .content .time {
	padding-top: 8rpx;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #999999;
	line-height: 34rpx;
}

.project-list--area .item .radio {
	margin-left: 24rpx;
	width: 40rpx;
}

.project-list--area .item checkbox.radio .wx-checkbox-input {
	width: 32rpx;
	height: 32rpx;
	border-radius: 50%;
}

/* 选中后的 背景样式 （红色背景 无边框 可根据UI需求自己修改） */
.project-list--area .item checkbox.radio .wx-checkbox-input.wx-checkbox-input-checked {
	width: 32rpx;
	/* 选中后对勾大小，不要超过背景的尺寸 */
	height: 32rpx;
	/* 选中后对勾大小，不要超过背景的尺寸 */
	border: none;
	background: #ED6C00;
}

/* 选中后的 对勾样式 （白色对勾 可根据UI需求自己修改） */
.project-list--area .item checkbox.radio .wx-checkbox-input.wx-checkbox-input-checked::before {
	border-radius: 50%;
	/* 圆角 */
	width: 32rpx;
	/* 选中后对勾大小，不要超过背景的尺寸 */
	height: 32rpx;
	/* 选中后对勾大小，不要超过背景的尺寸 */
	line-height: 32rpx;
	text-align: center;
	font-size: 20rpx;
	/* 对勾大小 30rpx */
	color: #fff;
	/* 对勾颜色 白色 */
	border: 1rpx solid #ED6C00;
	background: #ED6C00;
	transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
}

.btn {
	position: fixed;
	bottom: 30rpx;
	left: 50%;
	transform: translateX(-50%);
	width: 670rpx;
	height: 100rpx;
	line-height: 100rpx;
	text-align: center;
	color: #fff;
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	background-color: #999999;
	border-radius: 8rpx;
}

.active {
	background-color: #464646;
}

.end {
	padding-top: 30rpx;
	text-align: center;
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #AAAAAA;
	line-height: 34rpx;
}
