
/* #ifdef MP-WEIXIN*/  
page {
  background-color: #201D21;
}
/* #endif */

/* #ifdef MP-ALIPAY*/  
.a-page {
  background-color: #201D21;
}
/* #endif */

view {
  box-sizing: border-box;
}

.receive-card--page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #201D21;
  overflow: hidden;
}

.receive-card--page .page-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.receive-card--page .content {
  position: absolute;
  top: 376rpx;
  left: 50%;
  transform: translateX(-50%);
  padding: 72rpx 48rpx;
  width: 85%;
  background-color: #fff;
  border-radius: 24rpx;
}

.content .label {
  padding-bottom: 24rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  color: #333;
  font-family: 'PingFangSC-Regular,PingFang SC';
}

.content input {
  padding: 4rpx 0 8rpx;
  font-size: 32rpx;
  line-height: 32rpx;
  color: #333;
  font-family: 'PingFangSC-Regular,PingFang SC';
  border-bottom: 2rpx solid #D4D4D4;
}

.yzm-input {
  margin-right: 20rpx;
}

.content .input::placeholder {
  font-size: 28rpx;
  color: #BFBFBF;
}

.input-block {
  margin-bottom: 52rpx;
  border: none;
  width: 100%;
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18rpx;
}

.input-area .get-code {
  width: 232rpx;
  height: 72rpx;
  line-height: 72rpx;
  text-align: center;
  border: 1px solid rgba(151, 151, 151, .2);
  border-radius: 36rpx;
  font-family: 'PingFangSC-Regular,PingFang SC';
  font-size: 26rpx;
  color: #666666;
}

.get-card-btn {
  margin-top: 32rpx;
  width: 100%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  background-color: rgba(52, 50, 51, .1);
  border-radius: 50rpx;
  font-size: 30rpx;
  color: #201D21;
  font-family: 'PingFangSC-Regular,PingFang SC';
}

.divider {
  padding-top: 40rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider .line {
  width: 160rpx;
  height: 2rpx;
  background-color: #D4D4D4;
}

.divider .tips {
  font-size: 24rpx;
  line-height: 34rpx;
  color: #C1C5CA;
  font-family: 'PingFangSC-Regular,PingFang SC';
}

.wx-login-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40rpx;
  width: 100%;
  height: 100rpx;
  background: linear-gradient(155deg, rgba(100, 97, 98, 1) 0%, rgba(99, 96, 98, 1) 0%, rgba(32, 30, 31, 1) 100%);
  border-radius: 50rpx;
}

.wx-login-btn image {
  margin-right: 20rpx;
  width: 54rpx;
  height: 54rpx;
}

.wx-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.wx-login-btn .btn-words {
  font-family: 'PingFangSC-Medium,PingFang SC';
  font-size: 30rpx;
  line-height: 42rpx;
  color: #FFDEAE;
  font-weight: 500;
}